<html lang="pt-BR">
<head>
  <title>Marmitasso - As melhores marmitas ao seu alcance!</title>
</head>
<body>

  <div class="single-item">
    <div>
      <%= image_tag('slide1.jpg') %>
    </div>
  </div>

</body>
</html>

