<div class="container">

  <footer class="footer">

    <small>

      Copyright © <a href="enter in a link here">Marmitasso</a>

      by <a href="enter in a link here">Marmitasso Team</a>

    </small>

    <nav>

      <ul>

        <li><%= link_to "Cadastre sua loja", new_loja_path %></li>

      </ul>

    </nav>

  </footer>

</div>

